<app-title-bar></app-title-bar>
<div class="greet">
  <app-info-bar *ngIf="user">
    <div class="small-regular-text">
      Hi, {{ user.name }}, nice to see you here.
    </div>
    <div *ngIf="!relations.length" class="regular-text">
      <b>{{ status }}</b>
    </div>
    <div *ngIf="relations.length" class="regular-text">
      <b>We found {{ relations.length }} people connected to you</b>
    </div>
  </app-info-bar>
</div>
<app-toolbar></app-toolbar>
<app-spinner *ngIf="loading"></app-spinner>
<app-relations-list [relations]="relations"></app-relations-list>
