.home {
  box-shadow: 0px 3px 3px #00000029;
}

.greet {
  padding: 0 3vw;
}

.greet span {
  display: block;
  text-align: center;
  padding: 0 0 0.5vh 0;
}

.greet .connections-info {
  font-weight: bold;
  color: #353535;
}

.greet h1 {
  margin: 0;
  border-bottom: 1px dashed #c9c9c9;
}
