<app-title-bar
  [icons]="['menu']"
  (onToggleMenu)="gotoMenuHandler()"
></app-title-bar>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta voluptatum
  non asperiores qui facere. Esse maiores illum qui nihil ratione totam id
  consequatur ducimus soluta? Maiores cumque deleniti similique eos aperiam
  dolorem architecto incidunt totam ipsam nesciunt doloribus autem soluta,
  veniam tempore neque dolorum provident ab beatae accusamus laudantium natus,
  eaque corporis, nulla nisi. Debitis ullam harum facere atque possimus, sunt,
  dicta facilis corporis ratione nemo cumque culpa vero repellendus. Quis
  temporibus nisi excepturi labore dolor eligendi voluptas voluptates tempore
  soluta corrupti. Temporibus, porro eligendi! Laborum voluptates, dicta
  repellendus vero laudantium deleniti sit accusantium ab, quidem, fuga
  distinctio aut reiciendis.
</p>
