<app-title-bar [showMenu]="false" [showGoBack]="true"></app-title-bar>
<div class="menu-container">
  <!-- TODO hidden for now -->
  <div *ngIf="false">
    <button type="button" class="btn btn-link bigger-text">עברית</button>
    <img src="assets/img/lineOfCircles.svg" class="circles-separator" />
    <button type="button" class="btn btn-link bigger-text">About</button>
  </div>
  <button
    (click)="switchLocaleHandler()"
    type="button"
    class="btn btn-link bigger-text"
    translate
  >
    menu.locale
  </button>
  <img src="assets/img/lineOfCircles.svg" class="circles-separator" />
  <a
    href="https://www.geni.com/discussions/209064"
    class="btn btn-link bigger-text"
    target="_blank"
    rel="noopener noreferrer"
    translate
    >menu.help</a
  >
  <img src="assets/img/lineOfCircles.svg" class="circles-separator" />
  <button
    *ngIf="isAuthenticated"
    (click)="logoutHandler()"
    type="button"
    class="btn btn-link bigger-text"
    translate
  >
    menu.logOut
  </button>
</div>
