<div class="relation-card">
  <div class="photo-section">
    <img
      src="{{
        relationImgUlr ? relationImgUlr : 'assets/img/' + gender + '.svg'
      }}"
      alt="Photo"
      [ngClass]="[
        gender,
        !relationImgUlr ? 'no-profile-photo' : 'profile-photo'
      ]"
    />
  </div>
  <div class="info-section">
    <div class="info-section-upper">
      <div>
        <button class="btn chevron" (click)="collapseFullnameHandler()">
          {{ collapsed ? '&#8964;' : '&#8963;' }}
        </button>
        <div #fullname class="fullname" [ngClass]="{ collapsed: collapsed }">
          {{ relationFullname }}
        </div>
        <div *ngIf="collapsed" class="regular-text collapsed">
          {{ nicknames }}
        </div>
      </div>
      <div class="categories">
        <span class="badge badge-primary mr-1">Some</span>
        <span class="badge badge-danger mr-1">Some</span>
        <span class="badge badge-primary mr-1">Some</span>
      </div>
    </div>
    <div class="brief-info">
      <div class="small-regular-text">{{ livingDates }}</div>
      <div>
        <span class="small-text">Connection Number: </span>
        <span class="small-regular-text">{{ this.relation.step_count }}</span>
      </div>
    </div>
  </div>
</div>
