.welcome-middle {
  height: auto;
  background: #f3f3f3 0% 0% no-repeat padding-box;
}

.welcome-middle > .general-link {
  width: 100%;
  padding-top: 4.2vh;
  padding-bottom: 3.8vh;
}

.welcome-middle .welcome-photos-row-image {
  margin-left: 3vw;
}

.welcome-middle > p {
  text-align: center;
  margin-bottom: 0;
  padding-left: 3.1vw;
  padding-right: 3.1vw;
  padding-top: 1.8vh;
  padding-bottom: 3.8vh;
}

.welcome-photos-row {
  height: 9.2vh;
}

.welcome-photos-row-image {
  height: 100%;
  border-radius: 100%;
}
