<div class="welcome-bottom">
  <div class="other-platform">
    <h5 class="accent-text">
      Have a family tree in other Platform
    </h5>
    <p class="regular-text">
      Upload your Gedcom file to Geni and connect to the World Family Tree
      (Available only on desktop).
    </p>
  </div>
  <div class="none-platform">
    <h5 class="accent-text">
      Don't have a family tree
    </h5>
    <p class="regular-text">
      You are invited to our Data Base Desk in order to register and build your
      own family tree. The more family members included the greater chance
      you'll find more connections at the museum.
    </p>
  </div>
  <img src="assets/img/lineOfCircles.svg" class="circles-separator" />
  <img
    class="bottom-logo"
    src="assets/img/logoBHeng.svg"
    alt="Museum of the jewish people at Beit Hatfutsot"
  />
</div>
