.welcome-bottom {
  height: auto;
  padding: 28px 10px 17px;
}

.welcome-bottom * {
  text-align: center;
}

.other-platform,
.none-platform {
  margin-bottom: 28px;
}

.bottom-logo {
  display: block;
  margin: 20px auto 0;
  width: 30.5vw;
}
