<mat-dialog-content>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ data[data.length - 1].name }}</mat-card-title>
      <mat-card-subtitle>Your relations to target profile</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let relation of data; let i = index">
          <div class="mat-line">
            {{ i }}.
            <a mat-button (click)="onRelationClick(relation)">{{
              relation.name
            }}</a>
            ({{ relation.relation ? relation.relation : 'you' }})
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close] cdkFocusInitial>
    Close
  </button>
</mat-dialog-actions>
