<div class="relation-card">
  <div class="photo-section">
    <a
      [routerLink]="[relationPath, relation.target_id]"
      [state]="{ id: relation.target_id }"
    >
      <img
        src="{{
          relationImgUlr
            ? relationImgUlr
            : 'assets/img/gender-' + gender + '.svg'
        }}"
        alt="Photo"
        [ngClass]="[
          'gender-' + gender,
          !relationImgUlr ? 'no-profile-photo' : 'profile-photo'
        ]"
      />
    </a>
  </div>
  <div class="info-section">
    <div class="info-section-upper">
      <div>
        <button class="btn chevron" (click)="collapseFullnameHandler()">
          {{ collapsed ? '&#8964;' : '&#8963;' }}
        </button>
        <div #fullname class="fullname" [ngClass]="{ collapsed: collapsed }">
          <a
            [routerLink]="[relationPath, relation.target_id]"
            [state]="{ id: relation.target_id }"
            >{{ relationFullname }}</a
          >
        </div>
      </div>
      <div class="categories">
        <span
          *ngFor="let category of categories"
          class="small-regular-text category mr-1"
          [ngStyle]="{ backgroundColor: categoryColor(category) }"
          >{{ categoryText(category) }}</span
        >
      </div>
    </div>
    <div class="brief-info">
      <div class="small-regular-text">{{ livingDates }}</div>
      <div>
        <span class="small-text">Connection Number: </span>
        <span class="small-regular-text">{{ this.relation.step_count }}</span>
      </div>
    </div>
  </div>
</div>
