.welcome-top {
  height: auto;
  margin-top: 5.8vh;
}

.welcome-middle {
  height: auto;
  background: #f3f3f3 0% 0% no-repeat padding-box;
}

.welcome-bottom {
  height: auto;
  margin-bottom: 4.5vh;
}

.welcome-photos-row {
  height: 9.2vh;
}

.welcome-photos-row-image {
  height: 100%;
  border-radius: 100%;
}

.welcome-bottom-logos-container {
  height: 6.2vh;
  display: flex;
  justify-content: space-between;
  margin-left: 4.5vw;
  margin-right: 4.5vw;
}

.welcome-top > h1 {
  margin-bottom: 0;
  text-align: center;
}

.welcome-top > h4 {
  margin-top: 5.2vh;
  margin-bottom: 0;
  text-align: center;
}

.welcome-top > .circles-separator {
  margin-top: 2.9vh;
}

.welcome-top > p {
  text-align: center;
  margin-left: 3.1vw;
  margin-right: 3.1vw;
  margin-top: 5.2vh;
  margin-bottom: 5.2vh;
}

.welcome-middle > button {
  width: 100%;
  padding-top: 4.2vh;
  padding-bottom: 3.8vh;
  text-decoration: underline;
  color: #353535;
}

.welcome-middle .welcome-photos-row-image {
  margin-left: 3vw;
}

.welcome-middle > p {
  text-align: center;
  margin-bottom: 0;
  padding-left: 3.1vw;
  padding-right: 3.1vw;
  padding-top: 1.8vh;
  padding-bottom: 3.8vh;
}

.welcome-bottom p {
  text-align: center;
  margin: 0;
}

.welcome-bottom .instructions-for-other-platform {
  padding-top: 5vh;
}

.welcome-bottom .instructions-for-other-platform > p:first-child {
  padding-bottom: 1.8vh;
  text-decoration: underline;
}

.welcome-bottom .instructions-for-none-platform {
  padding-top: 6.6vh;
}

.welcome-bottom .instructions-for-none-platform > p:first-child {
  padding-bottom: 1vh;
  text-decoration: underline;
}

.welcome-bottom > .circles-separator {
  margin-top: 5.2vh;
  margin-bottom: 3.4vh;
}

.welcome-bottom .welcome-bottom-logos-container img {
  height: 100%;
}
