<div class="welcome-top">
  <h1 class="title-text">MJP & ME</h1>
  <h4 class="subtitle-text">
    Wouldn’t it be great to know if you have family connection to famous Jewish
    people like Albert Einstein, Mosses or Barbara Streisand?
  </h4>
  <img src="assets/img/lineOfCircles.svg" class="circles-separator" />
  <p class="regular-text">
    Here's what you need to do in order to discover that and where they are
    located in the museum:
  </p>
</div>
<div class="welcome-middle">
  <button
    (click)="loginHandler()"
    type="button"
    class="btn btn-link accent-text"
  >
    Log in to your Geni account
  </button>
  <div class="welcome-photos-row">
    <img
      class="welcome-photos-row-image"
      *ngFor="let src of photos"
      src="{{ src }}"
      alt=""
    />
  </div>
  <p class="regular-text">
    Once you're in, you'll see a list of famous people you're connected to and
    the route for each one. A click on each person will reveal the exact
    location of its representation at the museum.
  </p>
</div>
<div class="welcome-bottom">
  <div class="instructions-for-other-platform">
    <p class="accent-text">Have a family tree in other Platform</p>
    <p class="regular-text">Upload your Gedcom file to Geni.</p>
  </div>
  <div class="instructions-for-none-platform">
    <p class="accent-text">Don't have a family tree</p>
    <p class="regular-text">
      You will need to register and build a family tree. The more family members
      included the greater chance you'll find more connection at the museum.
    </p>
  </div>
  <img src="assets/img/lineOfCircles.svg" class="circles-separator" />
  <div class="welcome-bottom-logos-container">
    <img
      src="assets/img/logoBHeng.svg"
      alt="Museum of the jewish people at Beit Hatfutsot"
    />
    <img src="assets/img/geniLogo.png" alt="Geni A MyHeritage Company" />
  </div>
</div>
