<div class="welcome-middle">
  <button
    (click)="loginHandler()"
    type="button"
    class="btn btn-link accent-text general-link"
  >
    Log in to your Geni account
  </button>
  <div class="welcome-photos-row">
    <img
      class="welcome-photos-row-image"
      *ngFor="let src of photos"
      src="{{ src }}"
      alt=""
    />
  </div>
  <p class="regular-text">
    Once you're in, you'll see a list of famous people you're connected to and
    the relationship path for each one. A click on each person will reveal the
    exact location in the museum. You may even find your relationship to other
    museum visitors!
  </p>
</div>
