<div class="toolbar">
  <div class="left-section">
    <button type="button" class="btn" (click)="dummyClickHandler('filters')">
      <img src="assets/img/filter.svg" alt="" />
      <span class="small-text">Filters</span>
    </button>
    <button type="button" class="btn" (click)="dummyClickHandler('sorting')">
      <img src="assets/img/sort.svg" alt="" />
      <span class="small-text">Sorting</span>
    </button>
  </div>
  <div class="right-section">
    <button type="button" class="btn" (click)="dummyClickHandler('search')">
      <img src="assets/img/search.svg" alt="" />
      <span class="small-text">Search</span>
    </button>
  </div>
</div>
