h4 {
  margin: 0;
}

img {
  height: 11px;
  margin-right: 4px;
}

.title-bar {
  height: 6.1vh;
  border: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent linear-gradient(270deg, #ffffff 0%, #efefef 100%) 0%
    0% no-repeat padding-box;
}

button {
  height: 6.1vh;
  padding: 0;
}

button:focus {
  box-shadow: none;
}

.open-menu-icon {
  height: 15px;
  margin: 6px 9px;
}

.close-menu-icon {
  height: 9px;
  margin: 6px;
}

.icon-container-left {
  min-width: 75px;
}

.icon-container-left a {
  margin-left: 13px;
}

.icon-container-left .btn.btn-lnk.small-text {
  padding-left: 10px;
  color: #535453;
  font-weight: bold;
  text-decoration: underline;
}

.icon-container-right {
  min-width: 75px;
  display: flex;
  justify-content: flex-end;
}

.active-settings-action {
  border-bottom: 3px solid #ff9e1e;
}
