<div class="title-bar">
  <div class="icon-container-left">
    <button *ngIf="showGoBack" (click)="location.back()" class="btn">
      <img class="close-menu-icon" src="assets/img/x.svg" alt="" />
    </button>
    <button
      *ngIf="showGoToAllResultsButton"
      (click)="goToAllResults()"
      class="btn"
    >
      <img class="close-menu-icon" src="assets/img/x.svg" alt="" />
    </button>
    <button
      *ngIf="showGoToAllResultsText"
      (click)="goToAllResults()"
      class="btn btn-lnk small-text"
      translate
    >
      titleBar.toAllResults
    </button>
    <a
      *ngIf="showSettings"
      [ngClass]="{ 'active-settings-action': settingsAction === 'sort' }"
      [routerLink]="[settingsUrl, { action: 'sort' }]"
    >
      <img src="assets/img/sort.svg" alt="" />
      <span class="small-text">Sort by</span>
    </a>
    <a
      *ngIf="showSettings"
      [ngClass]="{ 'active-settings-action': settingsAction === 'search' }"
      [routerLink]="[settingsUrl, { action: 'search' }]"
    >
      <img src="assets/img/search.svg" alt="" />
      <span class="small-text">Search</span>
    </a>
  </div>
  <div *ngIf="showTitle">
    <h4 class="accent-text">
      MJP
      <img
        src="assets/img/circle-ampersand.png"
        alt=""
        id="title-text-ampersand"
      />ME
    </h4>
  </div>
  <div class="icon-container-right">
    <button *ngIf="showMenu" class="btn" (click)="gotoMenuHandler()">
      <img class="open-menu-icon" src="assets/img/menu.svg" alt="" />
    </button>
  </div>
</div>
