html,
body,
app-root {
  height: 100%;
}

@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 700;
  src: url(assets/fonts/OpenSansHebrew-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/OpenSansHebrew-Regular.ttf) format('truetype');
}

html * {
  font-family: Open Sans Hebrew;
}

.box {
  max-width: 93.75%;
  margin: auto;
}

.title-text {
  font: bold 24px Open Sans Hebrew;
  letter-spacing: 0;
  color: #353535;
}

.bigger-text {
  font: Bold 16px Open Sans Hebrew;
  letter-spacing: 0;
  color: #353535;
}

.subtitle-text {
  font: normal 14px Open Sans Hebrew;
  letter-spacing: -0.14px;
  color: #353535;
}

.accent-text {
  font: Bold 13px Open Sans Hebrew;
  letter-spacing: 0;
  color: #353535;
}

.regular-text {
  font: normal 12px Open Sans Hebrew;
  letter-spacing: 0;
  color: #878787;
}

.small-regular-text {
  font: normal 11px Open Sans Hebrew;
  letter-spacing: 0;
  color: #000;
}

.small-text {
  font: normal 10px Open Sans Hebrew;
  letter-spacing: 0;
  color: #353535;
}

.circles-separator {
  display: block;
  width: 46%;
  margin-left: auto;
  margin-right: auto;
}

.gender-male {
  background-color: #47c3d3;
}

.gender-female {
  background-color: #cb5947;
}

.gender-undefined {
  background-color: #45a80b;
}

.general-link {
  text-decoration: underline;
  color: #353535;
  padding: 0;
}

.btn-link:hover {
  color: unset;
}

.arrow-down {
  margin: auto;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid #9a9a9a;
}

.light-grey-text {
  color: #878787;
}

.hebrew-alignment {
  display: flex !important;
  flex-direction: row-reverse !important;
}

.hebrew-direction {
  direction: rtl !important;
}

.hebrew-direction-deep * {
  direction: rtl !important;
  text-align: right !important;
}

.btn.btn-link:focus {
  box-shadow: none;
  text-decoration: none;
}
