a {
  position: relative;
  color: #353535;
}

fa-icon {
  color: #ee4d33;
}

.floor {
  box-sizing: border-box;
  position: absolute;
  left: 8px;
  top: -2px;
  background-color: #fff;
  border: 1px solid #9a9a9a;
  border-radius: 50%;
  text-align: center;
  width: 14px;
  height: 14px;
  font: normal normal bold 11px/11px 'Open Sans Hebrew';
  letter-spacing: 0px;
}

.large {
  left: 17px;
  top: -5px;
  width: 20px;
  height: 20px;
  font: normal normal bold 15px/15px 'Open Sans Hebrew';
  letter-spacing: 0px;
  z-index: 2;
}
