<div
  [ngClass]="[
    'connection',
    'connection-' + gender,
    direct ? 'direct' : 'indirect'
  ]"
>
  <div class="connection-photo">
    <img
      src="{{
        relationImgUlr ? relationImgUlr : 'assets/img/' + gender + '.svg'
      }}"
      alt="Photo"
      [ngClass]="[
        gender,
        !relationImgUlr ? 'no-profile-photo' : 'profile-photo'
      ]"
    />
  </div>
  <div [ngClass]="[direct ? 'subtitle-text' : 'regular-text']">
    {{ connection.profile && connection.profile.name }}
  </div>
</div>
