<ng-template appRef></ng-template>
<div class="welcome">
  <app-title-bar [showTitle]="false"></app-title-bar>
  <section class="box welcome__top">
    <h1 class="title-text">
      MJP
      <img
        src="assets/img/circle-ampersand.png"
        alt=""
        id="title-text-ampersand"
      />
      ME
    </h1>
    <h2 class="subtitle-text" translate>welcome.top.headline</h2>
    <h4 class="subtitle-text" translate>welcome.top.question</h4>
    <img src="assets/img/lineOfCircles.svg" class="circles-separator" />
    <p class="regular-text" translate>welcome.top.whatToDo</p>
  </section>
  <section class="welcome__middle">
    <div class="box">
      <button
        (click)="loginHandler()"
        type="button"
        class="btn btn-link accent-text general-link"
        [disabled]="!(agreeToTerms && agreeToConnectRelatives)"
        translate
      >
        welcome.middle.login
      </button>
      <div class="welcome__photos-row" #photosBox>
        <img *ngFor="let src of photos" src="{{ src }}" alt="" />
      </div>
      <p class="regular-text" translate>welcome.middle.instructions</p>
      <div class="welcome__agree-box">
        <input type="checkbox" [(ngModel)]="agreeToTerms" autocomplete="off" />
        <span translate
          >welcome.middle.agreeToTerms.prefix
          <a
            [href]="termsOfUseUrl"
            target="_blank"
            rel="nofollow noopener"
            translate
            >welcome.middle.agreeToTerms.suffix</a
          ></span
        >
      </div>
      <div class="welcome__agree-box">
        <input
          type="checkbox"
          [(ngModel)]="agreeToConnectRelatives"
          autocomplete="off"
        />
        <span translate>
          welcome.middle.agreeToConnectRelatives.prefix
          <a (click)="showModalConnectWithRelatives()" translate
            >welcome.middle.agreeToConnectRelatives.link</a
          >
          welcome.middle.agreeToConnectRelatives.suffix
        </span>
      </div>
    </div>
  </section>
  <section class="box welcome__bottom">
    <div class="other-platform">
      <h5 class="accent-text" translate>welcome.bottom.anotherPlatform</h5>
      <p class="regular-text" translate>welcome.bottom.uploadGedcom</p>
    </div>
    <div class="none-platform">
      <h5 class="accent-text" translate>welcome.bottom.uploadGedcom</h5>
      <p class="regular-text" translate>welcome.bottom.invitedToDesk</p>
    </div>
    <img src="assets/img/lineOfCircles.svg" class="circles-separator" />
    <img
      class="bottom-logo"
      src="assets/img/logoBHeng.svg"
      [alt]="'welcome.bottom.logoAlt' | translate"
    />
  </section>
</div>
