.geni-container {
  position: relative;
  max-width: 768px;
  margin: 0 auto;
}

.geni-container-desktop{
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
.locked {
  height: 100vh;
  overflow: hidden;
}
