<app-title-bar [showP2P]="true" [showSettings]="true" [showMenuHome]="true"></app-title-bar>

<!--

<app-title-bar [showP2P]="true" [showSettings]="true" [showMenuHome]="true" *ngIf="getScreenWidth < 768"></app-title-bar>

<app-title-bar-desktop  [showP2P]="true" [showSettings]="true" [showMenuHome]="true" *ngIf="getScreenWidth > 768" ></app-title-bar-desktop>
<div class="" *ngIf="getScreenWidth < 768">
-->


<div class="">
    <app-info-bar *ngIf="user">
        <div class="small-regular-text" translate [translateParams]="{ value: user.name }">
            home.greet
        </div>
        <div class="regular-text">
            <b *ngIf="loading && !relations.length; else foundInfo" translate [translateParams]="{ source: sourceText , target: targetText }">{{
        'home.status.' + status
      }}</b>
            <ng-template #foundInfo>
                <b translate [translateParams]="{ num_connections: foundCount, source: sourceText , target: targetText }">
          home.found
        </b>
            </ng-template>
        </div>
    </app-info-bar>
</div>

<div style="text-align:center; margin: 6px 0 2px;">
    <button *ngIf="loading" type="button" class="btn btn-link"
            style="color:#c0392b; font-weight:600; margin:0 8px;"
            (click)="stopSearch()">{{ 'controls.stop' | translate }}</button>
    <button type="button" class="btn btn-link"
            style="font-weight:600; margin:0 8px;"
            (click)="changeTarget()">{{ 'controls.newSearch' | translate }}</button>
</div>
<div *ngIf="stopped && !loading" style="text-align:center; color:#777; font-size:13px; margin-bottom:6px;">{{ 'controls.stopped' | translate:{ value: relations.length } }}</div>

<!-- TODO hidden for now -->
<app-toolbar *ngIf="false"></app-toolbar>
<app-spinner *ngIf="loading" [small]="relations.length"></app-spinner>
<app-relations-list [relations]="relations"></app-relations-list>
<!--
<app-relations-list [relations]="relations"  *ngIf="getScreenWidth < 768"></app-relations-list>
 <app-relations-list-desktop [relations]="relations" *ngIf="getScreenWidth > 768" ></app-relations-list-desktop> -->