<div class="settings">
    <app-title-bar
      [showGoToAllResultsButton]="true"
      [showTitle]="true"
      [showMenu]="false"
      [showMenuHome]="true"
    ></app-title-bar>
    <accordion [closeOthers]="oneAtATime" class="custom_accordion"  >
        <form class="profile-setting-model" [formGroup]="profileForm">
            <div>
                <accordion-group heading="Choose source profile" [isOpen]="openFirst">
                    <div class="display_flex_padding">
                        <label for="filterOption{{ i }}" *ngFor="let option of sourceLabels; let i = index"
                            class="profile-settings-option"><span
                                [ngClass]="{ active: profileForm.value.sourceProfile === i }" class="checkmark"></span>
                            {{ option }}
                            <input formControlName="sourceProfile" type="radio" [value]="i" id="filterOption{{ i }}"
                                (change)="onchange()" />
                        </label>
                    </div>
                    <div class="display_profile_id" *ngIf="profileForm.value.sourceProfile === 1">
                        <span class="span_input">Profile ID:</span>
                        <input type="text" placeholder="Enter profile id" class="profile_input" [(ngModel)]="customSourceProfileId" [ngModelOptions]="{standalone: true}">
                    </div>
                </accordion-group>
            </div>
            <accordion-group heading="Choose target profile or project" [isOpen]="!openFirst">
                <div class="display_flex_padding">
                    <label for="target{{ i }}" *ngFor="let option of targetLabels; let i = index"
                        class="profile-settings-option"><span
                            [ngClass]="{ active: profileForm.value.targetType === i }" class="checkmark"></span>
                        {{ option }}
                        <input formControlName="targetType" type="radio" [value]="i" id="target{{ i }}"
                            (change)="onchangeTarget()" />
                    </label>
                </div>
                <div class="display_profile_id" *ngIf="profileForm.value.targetType === 0">
                    <span class="span_input">Profile ID:</span>
                    <input type="text" placeholder="Enter profile id" class="profile_input" [(ngModel)]="customTargetProfileId" [ngModelOptions]="{standalone: true}">
                </div>
                <div *ngIf="profileForm.value.targetType === 1">
                    <div class="display_profile_id">
                        <span class="span_input">Project ID:</span>
                        <input type="text" placeholder="Enter project id" class="profile_input" [value]="customTargetProjectId">
                    </div>
                    <span class="or">or</span>
                    <div class="display_profile_id">
                        <span class="span_input">Project List</span>
                    </div>
                    <div class="display_flex_padding">
                        <div class="round_checkbox">
                            <div class="round" *ngFor="let project of projectList; let i = index">
                                <label><span [ngClass]="{'chwckbox':project.checked === true}" class="uncheck"></span>
                                    <input type="radio" id="" [value]="project.id" formControlName="targetProjectIdSelection"
                                        (change)="onProjectSelection()" >{{project.label}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-group>
        </form>
    </accordion>
    <button class="finish-button" [disabled]="!isValid()" (click)="onSubmit()">Submit</button>
</div>