<div class="title-bar">
  <div class="icon" (click)="iconClickHandler()" *ngIf="isIconShown('close')">
    <input class="close-menu-icon" type="image" src="assets/img/x.svg" />
  </div>
  <!-- To center the logo -->
  <div class="icon" *ngIf="!isIconShown('close')"></div>
  <h4 class="accent-text">MJP & ME</h4>
  <div class="icon" (click)="iconClickHandler()" *ngIf="isIconShown('menu')">
    <input class="open-menu-icon" type="image" src="assets/img/menu.svg" />
  </div>
  <!-- To center the logo -->
  <div class="icon" *ngIf="!isIconShown('menu')"></div>
</div>
