<div class="title-bar">
  <div class="icon-container-left">
    <button *ngIf="isMenu()" (click)="goToPreviousLocation()" class="btn">
      <img class="close-menu-icon" src="assets/img/x.svg" alt="" />
    </button>
    <button
      *ngIf="!isMenu() && !isHome()"
      (click)="goToAllResults()"
      class="btn btn-lnk small-text"
    >
      to all results
    </button>
  </div>
  <div class="title">
    <h4 class="accent-text">MJP & ME</h4>
  </div>
  <div class="icon-container-right">
    <button *ngIf="!isMenu()" class="btn" (click)="gotoMenuHandler()">
      <img class="open-menu-icon" src="assets/img/menu.svg" alt="" />
    </button>
  </div>
</div>
