<div class="app-modal">
  <div class="app-modal__content">
    <button class="btn app-modal__close-btn" (click)="close.emit()">
      <img src="assets/img/x.svg" alt="" />
    </button>
    <p>
      I Agree to allow this app to connect me with relatives who may now be in
      the museum itself
    </p>
    <p>what does it mean?</p>
    <p>
      This means that during your stay in the museum, if the app identifies a
      relative who is related to you through your Geni family family tree you
      built, the app will show both of you that you are currently in the museum
      and give you both an option to meet or correspond with this relative.
    </p>
  </div>
</div>
