.app-modal {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: #00000075 0% 0% no-repeat padding-box;
  opacity: 1;
  touch-action: none;
}

.app-modal__content {
  background: #ffffff;
  max-width: 87.5%;
  margin: 47px auto;
  padding: 48px 22px 68px;
  border-radius: 14px;
  position: relative;
}

.app-modal__content .app-modal__close-btn {
  position: absolute;
  box-shadow: none;
  padding: 1px;
  line-height: 0;
  top: 12px;
  left: 12px;
}

.app-modal__content .app-modal__close-btn img {
  width: 14px;
}

.app-modal__content p {
  letter-spacing: 0px;
  color: #353535;
}

.app-modal__content p:nth-of-type(1) {
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}

.app-modal__content p:nth-of-type(2) {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.app-modal__content p:nth-of-type(3) {
  font-size: 12px;
  line-height: 18px;
}
