/* Top */
#title-text-ampersand {
  width: 30px;
}

.welcome {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

a {
  cursor: pointer;
}

app-title-bar {
  position: absolute;
  width: 100%;
}

app-title-bar::ng-deep .title-bar {
  background: transparent;
  border: none;
}

.welcome__top {
  height: auto;
  padding-top: 5.8vh;
}

.welcome__top h1 {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome__top .title-logo {
  width: 35%;
  display: block;
  margin: 20px auto 0;

}


.welcome__top h2 {
  padding-top: 10px;
  text-align: center;
  font: normal normal 300 14px/20px Open Sans Hebrew;
  letter-spacing: 0px;
  color: #535453;
}

.welcome__top h2::ng-deep span {
  font-weight: bold;
}

.welcome__top h4 {
  margin-top: 5.2vh;
  margin-bottom: 0;
  text-align: center;
}

.welcome__top .circles-separator {
  margin-top: 2.9vh;
}

.welcome__top p {
  text-align: center;
  margin-left: 3.1vw;
  margin-right: 3.1vw;
  margin-top: 5.2vh;
}

/* Middle */
.welcome__middle {
  height: auto;
  background: #f3f3f3 0% 0% no-repeat padding-box;
}

.welcome__middle .box {
  padding-bottom: 20px;
}

.welcome__middle .general-link {
  width: 100%;
  padding-top: 4.2vh;
  padding-bottom: 3.8vh;
}

.welcome__middle .welcome__photos-row-image {
  margin-left: 3vw;
}

.welcome__middle p {
  text-align: center;
  margin-bottom: 0;
  padding-left: 3.1vw;
  padding-right: 3.1vw;
  padding-top: 1.8vh;
  padding-bottom: 1.8vh;
}

.welcome__photos-row {
  height: 10vh;
  display: flex;
  overflow-x: auto;
  opacity: 0;
  transition: opacity 1s;
}

.welcome__photos-row.visible {
  opacity: 1;
}

.welcome__photos-row img {
  height: 90%;
  width: 15vw;
  border-radius: 50%;
  margin: 0 5px;
  object-fit: cover;
}

.welcome__middle .welcome__agree-box {
  display: flex;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #666666;
  padding: 1vh 3.1vw;
}

.welcome__middle .welcome__agree-box span {
  margin: -2px 10px 0 10px;
}

.welcome__middle .welcome__agree-box::ng-deep a {
  text-decoration: underline;
  color: #666666;
}

.welcome__middle .welcome__agree-box input.ng-invalid.required {
  outline: 2px auto red;
}

/* Bootom */
.welcome__bottom {
  height: auto;
  padding: 28px 10px 17px;
}

.welcome__bottom * {
  text-align: center;
}

.other-platform,
.none-platform {
  margin-bottom: 28px;
}

.bottom-logo {
  display: block;
  margin: 20px auto 0;
  width: 30%;
}
