.profile {
  overflow: hidden;
}

.profile ::ng-deep *::not(fa-icon) {
  font-size: 14px;
  line-height: 16px;
}

.profile .profile-photo {
  width: 100%;
  height: 50vh;
  overflow-y: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.profile .profile-details {
  padding: 14px 10px;
  position: relative;
}

.profile .profile-details * {
  margin-bottom: 13px;
}

.profile .profile-details .fullname-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.profile .profile-details .birthdate span,
.profile .profile-details .birthplace span {
  margin: 0 5px;
}

.profile .profile-details h4 {
  font-weight: bold;
  width: 85%;
}

.profile .about ::ng-deep p {
  margin-bottom: 5px;
  text-align: justify;
  word-break: break-word;
}

.profile .about ::ng-deep a {
  word-break: break-word;
}

.read-more-footer {
  background-color: #f3f3f3;
  padding: 11px 10px;
  display: flex;
  justify-content: center;
}

.read-more-footer .logo {
  display: inline-block;
  height: 42px;
  margin-right: 10px;
}

.read-more-footer a {
  display: inline-block;
  vertical-align: middle;
  width: 85%;
  color: #000;
  text-decoration: underline;
}

.read-more-footer.hebrew-direction a {
  text-align: right;
  padding-right: 15px;
}

.read-more-footer .link {
  margin-left: 5px;
  height: 8px;
}

app-map-pin {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px 10px 15px;
  box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.25);
}
