.profile {
  overflow: hidden;
}

.profile ::ng-deep *::not(fa-icon) {
  font-size: 14px;
  line-height: 16px;
}

.profile .profile-photo {
  width: 100%;
  height: 50vh;
  overflow-y: hidden;
}

.profile .profile-photo img {
  width: inherit;
}

.profile .profile-details {
  padding: 14px 10px;
  position: relative;
}

.profile .profile-details * {
  margin-bottom: 13px;
}

.profile .profile-details .fullname-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 13px;
  padding-top: 5px;
}

.profile .profile-details .birthdate span,
.profile .profile-details .birthplace span {
  margin: 0 5px;
}

.profile .profile-details h4 {
  font-weight: bold;
}

.profile .about ::ng-deep p {
  margin-bottom: 5px;
  text-align: justify;
  word-break: break-word;
}

.profile .about ::ng-deep a {
  word-break: break-word;
}
