<app-title-bar [showGoToAllResultsText]="true"></app-title-bar>
<div class="profile" *ngIf="profile">
  <div
    *ngIf="
      profile?.photo_urls?.large ||
      profile?.photo_urls?.medium as profilePhotoUrl
    "
    class="profile-photo"
  >
    <img [src]="profilePhotoUrl" [alt]="profile.name" />
  </div>
  <div class="profile-details">
    <div
      class="fullname-box"
      [ngClass]="{ 'hebrew-alignment': isHebrewLocale }"
    >
      <h4 class="subtitle-text">
        {{ localizedFullname }}
      </h4>
      <!-- TODO remove default 1 -->
      <app-map-pin
        [floor]="3"
        [targetId]="profile.id"
        [large]="true"
      ></app-map-pin>
    </div>
    <div class="birthdate" [ngClass]="{ 'hebrew-alignment': isHebrewLocale }">
      <span class="light-grey-text" translate>profile.birthdate</span>
      {{ profile?.birth?.date?.formatted_date }}
    </div>
    <div class="birthplace" [ngClass]="{ 'hebrew-alignment': isHebrewLocale }">
      <span class="light-grey-text" translate>profile.birthplace</span>
      {{ profile?.birth?.location?.formatted_location }}
    </div>
    <div *ngIf="convertMdToHtml(profile?.about_me) as about_me" class="about">
      <span
        class="light-grey-text"
        [ngClass]="{ 'hebrew-alignment': isHebrewLocale }"
        translate
        [translateParams]="{ value: localizedFullname }"
        >profile.about</span
      >
      <div [innerHTML]="about_me"></div>
    </div>
  </div>
  <app-read-more-footer [profile]="profile" ></app-read-more-footer>
</div>
