<app-title-bar></app-title-bar>
<div class="greet">
  <app-info-bar *ngIf="user">
    <div class="small-regular-text">
      {{ 'home.greet.prefix' | translate }}, {{ user.name }},
      {{ 'home.greet.suffix' | translate }}
    </div>
    <div *ngIf="!relations.length" class="regular-text">
      <b>{{ 'home.status.' + status | translate }}</b>
    </div>
    <div *ngIf="relations.length" class="regular-text">
      <b
        >{{ 'home.found.prefix' | translate }} {{ relations.length }}
        {{ 'home.found.suffix' | translate }}</b
      >
    </div>
  </app-info-bar>
</div>
<!-- TODO hidden for now -->
<app-toolbar *ngIf="false"></app-toolbar>
<app-spinner *ngIf="loading" [small]="relations.length"></app-spinner>
<app-relations-list [relations]="relations"></app-relations-list>
