.title-bar-destop {
    position: relative;
    height: 6.1vh;
    border: 1px solid #efefef;
    align-items: center;
    display: flex;
    padding-left: 10px;
    background: #E5E5E5 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 0px 1px #868686bf !important;
}
.title-bar-destop h3{
    font-size: 18px;
    padding: 0 10px;
    color: #353535;
    font-weight: 700;
    margin-bottom: 0;
}

.title-logo-destop {
    position: absolute;
    width: 10%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button {
    height: 100%;
    padding: 0 12px;
}

button:focus {
    box-shadow: none;
}

hr.hr_line {
    border-top: 1px dashed #c9c9c9;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.drop_list {
    max-height: calc(100vh - 465px);
    overflow-y: scroll;
    padding-top: 10px;
}

.note_block span {
    font-size: 10px;
    padding: 3px 8px;
}

.menu_block form{
    justify-content: space-between;
    padding: 16px 0 0 0;
    display: flex;
    width: 100%;
    align-items: center;
}
.sort-lable{
    margin-bottom: 0;
}
.result_block a span {
    color: #000;
}

.birth_block {
    margin: 0 0 0 3vw;
}
.birth_block span {
    font-size: 12px;
    padding: 1px 15px 0 0;
}

.birth_block a span {
    font-size: 14px;
    color: #000;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown span {
    font-size: 12px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    border: 1px solid #ddd;
    font-size: 12px;
    top: 36px;
    left: -24px;
    padding: 7px;
    z-index: 1;
}

.dropdown-item {
    padding: 0;
    font-size: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

[class*="dropdown-menu-tip-"]::after {
    content: '';
    position: absolute;
    width: .8rem;
    height: .8rem;
    background-color: #fff;
    border: 1px dashed #c9c9c9;
    border-bottom: none;
    border-left: none;
}

.dropdown-menu-tip-nw::after {
    top: calc(-.60rem - 1px);
    left: 4rem;
    transform: rotate(-225deg);
}

.round {
    position: relative;
}

.round .checkbox-span {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 15px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 15px;
    margin-right: 20px;
}

.round .checkbox-span:after {
    border: 2px solid #ccc;
    border-top: none;
    border-right: none;
    content: "";
    height: 4px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 3px;
    transform: rotate(-45deg);
    width: 10px;
}

.round input[type="checkbox"], .round input[type="radio"] {
    visibility: hidden;
    margin-right: 5px;
}

.round input[type="checkbox"]:checked+.checkbox-span, .round input[type="radio"]:checked+.checkbox-span {
    background-color: #fff;
    border-color: #ccc;
}

.round input[type="checkbox"]:checked+.checkbox-span:after, .round input[type="radio"]:checked+.checkbox-span:after {
    opacity: 1;
}
.header-filter .form-group {
    display: flex;
    margin-bottom: -8px;
}
.header-filter .form-group label {
    font-size: 12px;
}
.header-filter select {
    margin: -6px 0 0;
    height: unset;
    border: unset;
    font-size: 14px;
    padding: 4px 0.75rem;
}
.header-filter select:focus {
    outline: unset;
    box-shadow:unset;
}
.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 0 0 8vw;
}
.about-link {
    z-index: 101;
    position: absolute;
    top: 50%;
    left: 85%;
    font-size: 18px;
    transform: translate(-50%, -50%);
    color: #353535;
    font-weight: 700;
    margin: 0 -8vw;
}
.about-link:hover{
    text-decoration: unset;
}
.logout-btn {
    z-index: 101;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    background-color: #9A9A9A;
    color: #353535;
    font-weight: 700;
    margin: 0 -8vw;
    font-size: 18px;
    height: 40px;
    padding: 0 20px;
    border-radius: unset;
}
.logout-btn:hover {
    text-decoration: unset;
}
.dropdown-content.connection-number {
    left: 4px;
}
.dropdown-content.profession {
    left:-36px;
    min-width: 200px;
}
.serach_input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin-bottom: 4px;
    display: block;
    width: 100%;
    padding: 0px 0 0 8px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid #ced4da;
}

.dropdown-content.gender {
    left: -56px;
    min-width: 121px;
    max-height: 78px;
}
.search-desktop, .cust-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 0;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid #ced4da;
    margin-top: -18px;
    font-size: 14px;
}
.to-span span{
    padding-left: 10px !important;
}
.cust-input {
    width: 58%;
}
.cust-drop div {
    padding: 8px 0;
}
.cust-drop .form-group {
    display: flex;
}
.cust-drop .form-group span {
    padding: 0;
}
.dropdown-content.year{
    left: -51px;
}
.header-filter.header-filter-desk {
    line-height: unset;
}
.search-desktop:focus-visible  {
    outline: unset;
}
.cust-input:focus-visible{
    outline: unset;
}
.header-filter.header-filter-desk label {
    font-size: 14px;
}
.bhp-theme {
    border-radius: 9px;
    color: #535453;
    padding: 0 5px;
    height: 15px;
}
@media (max-width: 991px){
    .logout-btn {
        left: 97%;
    }
}
.marginset{
    margin: 0 9.5vw 0 9vw;
}
