<app-title-bar [showMenu]="false" [showGoBack]="true"></app-title-bar>
<div class="menu-container">
    <a
    href="https://www.geni.com/projects/Path-2-User-App/4488410"
    class="btn btn-link bigger-text"
    target="_blank"
    rel="noopener noreferrer"
    translate
    >menu.help</a
  >
  <img src="assets/img/lineOfCircles.svg" class="circles-separator" />
  <a [routerLink]="[aboutUrl]" class="btn btn-link bigger-text" translate
    >menu.about</a
  >
  <img src="assets/img/lineOfCircles.svg" class="circles-separator" *ngIf="isAuthenticated" />
  <button
    *ngIf="isAuthenticated"
    (click)="resetConnections()"
    [disabled]="isLoading"
    type="button"
    class="btn btn-link bigger-text"
    translate
  >menu.reset</button>
  <img src="assets/img/lineOfCircles.svg" class="circles-separator" />
  <button
    *ngIf="isAuthenticated"
    (click)="logoutHandler()"
    type="button"
    class="btn btn-link bigger-text"
    translate
  >
    menu.logOut
  </button>
</div>
