:host {
  position: relative;
}

:host::ng-deep #ng-chat {
  position: static;
  display: flex;
  height: 100%;
}

:host::ng-deep #ng-chat .ng-chat-title {
  display: none;
}

:host::ng-deep #ng-chat .ng-chat-window {
  position: initial;
  width: 100%;
  height: unset;
}

:host::ng-deep #ng-chat .ng-chat-window .ng-chat-messages {
  height: calc(90%);
}

app-predefined-messages {
  z-index: 1000;
  position: absolute;
  top: 0;
  padding: 10px;
}

:host::ng-deep ng-chat.hebrew #ng-chat .ng-chat-footer .chat-window-input {
  direction: rtl;
}
