.btn {
  padding: 0;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: #ffe1bc;
  position: relative;
}

img {
  height: 100%;
  margin: 1px;
}

span.p2p_button_mails {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-weight: bold;
  border-radius: 50%;
  line-height: 1.5;
  background-color: #EE4D33;
  position: absolute;
  top: -2px;
  right: 22px;
  opacity: 0;
  transition: opacity 0.5s ease 0.5s;

}

.p2p_button_mails img {
    margin: 0px 0px 15px;
    width: 70%;
}


span.p2p_button_users {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  line-height: 1.5;
  color: #ffffff;
  background-color: #ff9e1e;
  position: absolute;
  top: -2px;
  right: -10px;
  opacity: 0;
  transition: opacity 1s ease 1s;
}

span.visible {
  opacity: 1;
}

button.invisible {
  opacity: 0;
}
