<div class="settings">
    <span class="serach-settings-form custome_search">
        <label class="subtitle-text">
            <span class="search_text">
                <input class="serach_input" type="text" name="search" [(ngModel)]="searchText"
                    (keyup)="searchRelation($event)" (click)="ckangecolor($event)" autocomplete="off">
                <img class="input_img" src="assets/img/search.svg" alt="" id="img_serach" />
            </span>
        </label>
    </span>
    <div>
        <p *ngFor="let user of users_name | searchPipe : searchText : 'target_profile':'display_name'" class="search_result">
            <a [routerLink]="['/relation/', user.target_id]">{{ user.target_profile.display_name }}</a>
        </p>
    </div>
</div>
