.title-bar {
  position: relative;
  height: 6.1vh;
  border: 1px solid #efefef;
  /* display: flex; */
  align-items: center;
  background: transparent linear-gradient(270deg, #ffffff 0%, #efefef 100%) 0% 0% no-repeat padding-box;
}

h4 {
  margin: 0;
  font-size: 18px;
  display: flex;
  color: #535453;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h4 img {
  width: 23px;
  height: 23px;
}

.title-logo {
  position: absolute;
  width: 20%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button {
  height: 100%;
  padding: 0 12px;
}

button:focus {
  box-shadow: none;
}

.btn.all-results {
  color: #535453;
  font-weight: bold;
  text-decoration: underline;
}

.btn.close-menu-icon img {
  height: 11px;
}

.p2p {
  z-index: 101;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.btn.open-menu-icon {
  margin-left: auto;
  position: absolute;
  right: 0;
}

.btn.open-menu-icon img {
  height: 18px;
}

.title_bar_text {
  display: flex;
  padding-bottom: 3px;
}
.titlebar_box{
  position: relative;
}
hr.hr_line {
  border-top: 1px dashed #c9c9c9;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.shorting_text,
.search_text,
.filter_text {
  display: flex;
  align-items: center;
  margin: 0px 20px;
  padding-right: 20px;
}
.filter-icon i{
  border-radius: 100%;
  position: absolute;
  background-color: #ff9e1e;
  padding: 0px 4px 1px 3px;
  font-size: 8px;
  margin: 2px;
  top: 0;
  font-weight: bold;
  color: #fff;
}
.dot-icon i{
  width: 6px;
  height: 6px;
  border-radius: 100%;
  position: absolute;
  background-color: #ff9e1e;
}
.shorting_text img {
  max-width: 20px;
}
.filter_text img {
  max-width: 20px;
}
.search_text img {
  max-width: 20px;
}
.three_block {
  display: flex;
  justify-content: space-between;
}
.display {
  display: flex;
}
.title-bar-box {
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 3px #00000029;
}

.active-settings-action {
  border: none;
  border-bottom: none;
  position: relative;
}
.active-settings-action:after {
  content: "";
  background: transparent linear-gradient(263deg, #ffdba7 0%, #ff9e1e 100%) 0% 0% no-repeat padding-box;
  height: 3px;
  width: 61px;
  position: absolute;
  bottom: 0;
  top: 25px;
}

.serchbar {
  position: absolute;
  right: 0;
}