.relations-list {
  padding: 2vh 3vw;
}

.custom-pagination .page-number{
  display: inline-block;
  /* padding: 5px 12px; */
  margin: 0px 4px;
  border-radius: 25px;
}

.page-number.current{
  background: #ffffff!important;
}

/* .page-number span{
  display: block;
  height: 28px;
  font-size: 18px;
  cursor: pointer;
} */

.pagination-previous,.pagination-next{
  display: inline-block;
  font-weight: bold;
  color: #4b4b4b;
}

.custom-pagination {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7px;
  border: 1px solid #a99c9c;
  background: #ededed;
}


.select_blck{
  min-height: 31px;
  background: #ededed;
  border-width: 0 1px 0 1px;
}

.select_blck:focus-visible{
 outline: none;
}

.custom_image {
  display: flex;
  padding-top: 13px;
  padding-left: 36%;
}

.leftarrow::before{
  content: "\e64a" !important;
  display: inline-block;
  margin-right: 0.5rem;
  font-family: "themify-icons";
  cursor: pointer;
  font-size: 13px;
}

.rightarrow::before{
  content: "\e649" !important;
  display: inline-block;
  margin-left: 0.5rem;
  font-family: "themify-icons";
  cursor: pointer;
  font-size: 13px;
}

.cursor_default{
  cursor: default !important;
  color: #4b4b4b;
}

.button_img{
  background-color: #ffffff;
  border: none;
}

.button_img:focus-visible {
  outline: transparent;
}
.button_img:focus {
  outline: transparent;
}
.span_width_1{
  width: 100%;
}
.span_width_of{
  width: 100%;
  padding-left: 5px;
}

.my-icon1:before{
  content: "\e648";
  font-family: "themify-icons";
}

.my-icon2:before{
  content: "\e64b";
  font-family: "themify-icons";
}

.disableButton{
  display: none;
}