<div class="relations-list" *ngIf="relations.length" #list>
  <!-- <input type="button" (click)="sortData()" [ngClass]="{'disableButton':sortValue.sort === false}"> -->
  <span *ngIf="flag">
    <app-relation-card [relation]="relation" *ngFor="let relation of sortting | paginate: config">
    </app-relation-card>
  </span>
  <span *ngIf="!flag">
    <app-relation-card [relation]="relation"
      *ngFor="let relation of relations | paginate: config | relationsSortBy: sortOrder: limit">
    </app-relation-card>
  </span>
  <div class="custom_image">
    <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="onPageChange($event)" [maxSize]="total" >
      <div class="custom-pagination">
        <div class="pagination-previous">
          <span (click)="p.previous()" class="leftarrow">
          </span>
        </div>
        <select class="select_blck" (change)="p.setCurrent($event.target.value); onchange($event)"
          [(ngModel)]="pageSize">
          <option value="" hidden>{{ p.getCurrent() }} of {{ total }} </option>
          <option class="option_blck" *ngFor="let page of p.pages;let i = index" [value]="page.label">
            <span (click)="p.setCurrent(page.value)">{{ page.label }}</span>
          </option>
        </select>
        <div class="pagination-next">
          <span (click)="p.next()" class="rightarrow"></span>
        </div>
      </div>
    </pagination-template>
  </div>
</div>