<div class="app-modal">
  <div class="app-modal__content">
    <button class="btn app-modal__close-btn" (click)="closeModal.emit()">
      <img src="assets/img/x.svg" alt="x" />
    </button>
    <div *ngIf="activeRelative; else relativesList">
      <div class="px-2">
        <app-connection
          [connection]="activeRelative"
          [stepCount]="activeRelative.stepCount"
          [expandable]="false"
          [expanded]="true"
          [drawArrowDown]="false"
          [clickable]="false"
        >
        </app-connection>
      </div>
      <ul
        ngbNav
        #nav="ngbNav"
        [destroyOnHide]="false"
        [(activeId)]="activeTab"
        class="nav-tabs d-flex"
      >
        <li [ngbNavItem]="1" class="flex-grow-1">
          <a
            ngbNavLink
            class="border-0 h-100 d-flex flex-column justify-content-center align-items-center"
            >Chat</a
          >
          <ng-template ngbNavContent>
            <p>Chat</p>
          </ng-template>
        </li>
        <li [ngbNavItem]="2" class="flex-grow-1">
          <a
            ngbNavLink
            class="border-0 h-100 d-flex flex-column justify-content-center align-items-center"
            >Profile</a
          >
          <ng-template ngbNavContent>
            <app-profile-details [profile]="activeRelative?.profile">
            </app-profile-details>
          </ng-template>
        </li>
        <li [ngbNavItem]="3" class="flex-grow-1">
          <a
            ngbNavLink
            class="border-0 h-100 d-flex flex-column justify-content-center align-items-center"
            ><span class="d-block">Our</span> connection</a
          >
          <ng-template ngbNavContent>
            <app-connections-list
              *ngIf="connections"
              [connections]="connections"
            ></app-connections-list>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="p-2"></div>
    </div>
  </div>
</div>

<ng-template #relativesList>
  <div class="px-2">
    <h4>
      we found {{ relatives.length }} relative(s) now at the museum
      <span>click on relative for more options</span>
    </h4>
    <app-connection
      *ngFor="let relative of relatives; index as i"
      [connection]="relative"
      [stepCount]="i"
      [expandable]="false"
      [expanded]="true"
      [drawArrowDown]="false"
      [clickable]="false"
      (click)="setActiveRelative(relative, i)"
    ></app-connection>
  </div>
</ng-template>
