<app-title-bar [showMenu]="false" [showGoBack]="true"></app-title-bar>
<section [ngClass]="{ hebrew: isHebrewLocale }">
  <h3 translate>about.app.header</h3>
  <div class="circles">
    <img src="assets/img/lineOfCircles.svg" class="circles-separator" />
    <img src="assets/img/lineOfCircles.svg" class="circles-separator" />
  </div>
  <article [innerHTML]="'about.app.article' | translate"></article>
</section>
<section [ngClass]="{ hebrew: isHebrewLocale }">
  <div class="circles">
    <img src="assets/img/lineOfCircles.svg" class="circles-separator" />
    <img src="assets/img/lineOfCircles.svg" class="circles-separator" />
  </div>
</section>
